<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:b="http://www.springframework.org/schema/beans"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <http auto-config="true" access-denied-page="/login.xhtml">
        <form-login login-page="/login.xhtml" authentication-failure-url="/login.xhtml?erro=true"/>
        <!--<logout logout-success-url="/login.xhtml" invalidate-session="true"  logout-url="/login.xhtml" />-->
        <intercept-url pattern="/index.xhtml" access="ROLE_SIAFI" />
        <intercept-url pattern="/01/**" access="ROLE_SIAFI" />
        <intercept-url pattern="/02/**" access="ROLE_SIAFI" />
        <intercept-url pattern="/03/**" access="ROLE_SIAFI" />
        <intercept-url pattern="/04/**" access="ROLE_SIAFI" />
        <intercept-url pattern="/05/**" access="ROLE_SIAFI" />
        <intercept-url pattern="/06/**" access="ROLE_SIAFI" />
        <!--        <session-management invalid-session-url="/login.xhtml?session=1">
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management>-->
    </http>




    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="md5"/>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="SELECT u.usu_documento ,u.usu_senha,u.pes_acesso from guardiao.usuario u
                                                            WHERE  (u.pes_acesso = TRUE) and (u.usu_documento = ?) "
                               authorities-by-username-query="SELECT  us.usuario_usu_documento,'ROLE_' || sis.sis_sigla as grp from  guardiao.sistema sis
                                 INNER JOIN public.usuario_sistema us on (us.sistemas_sis_id = sis.sis_id)
                                                                      and (us.usuario_usu_documento = ?)                                                                      "
            />
        </authentication-provider>
    </authentication-manager>

    <b:bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <b:property name="jndiName" value="jdbc/siafi_sqt"/>
    </b:bean>


    <!--
    -->
<!--    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="adm" password="123" authorities="ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
        <authentication-provider>
            <user-service>
                <user name="ari" password="123" authorities="ROLE_ADMIN" />
          
            </user-service>
        </authentication-provider>
    </authentication-manager>-->
    

</b:beans>



