.erro404{
    background-color: #e9dddd;
    font-size: 15pt;
    font-weight: bold;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}