*{
    font-size: 12px;
    font-family:  sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF;
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #b1b1b1;
    font-weight : bold;
    text-decoration : underline;
}

/*.ui-datatable .ui-datatable-data .even-row td{
    background-color:#FFF8DC;
}

.ui-datatable .ui-datatable-data .odd-row td{
    background-color:white;
}*/

.ui-datatable .ui-datatable-data .even-row td{
    background-color:#ffe990;
}

.ui-datatable .ui-datatable-data .odd-row td{
    background-color:white;
}

.cabecalho{

    background: #FFFFFF url(../../imagens/img01.gif) 10px -40px repeat-x;
    border-radius: 7px;
}

.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}
.ui-panel-titlebar{
    text-align: center;
}